<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @account.name %>!</h1>
    <p>Glad to inform that unique userid and password for you has been created.</p>
    <h3>Userid :</h3> <p><%= @account.usr_id %></p>
    <h3>Password :</h3> <p><%= @account.password %></p>
  </body>
</html>

